* {
box-sizing: border-box;
font-family: "Lucida Sans";
}
header{
text-align:center;
}
.hf{
color:white;
background-color:#3C3D34;
}
p{
   text-align:justify;
}
.mid{
    float: left;
    padding: 15px;  
	margin-bottom:10px;
	border-style:ridge;
	background-color:#D3BCE7;	
}
#mid1{
    width: 40%;
	margin-right:5px;
}
#mid2{
    width: 59%;
	margin-left:5px;
}
.trunc {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer_com{
    float: left;
    padding-left:15px;  
	border-style:ridge;
}
#footer1{
    width: 40%;
	margin-right:5px;
	margin-bottom:10px;
	height:274px;		
}
#footer2{
    width: 59%;
	margin-left:5px;
}
.image{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

ul{
	list-style:none;
}
li{
	padding-bottom:10px;
}
footer{
	clear:both;
}

@media screen and (max-width: 900px) {
#mid1, #mid2{max-width:100%;width:100%;}
#mid2{clear:left;}
#footer1, #footer2{max-width:100%;width:100%;}
#footer2{clear:left;}
}